.description {
  /* width: 50vw;
  min-width: 400px;
  max-width: 800px;
  height: auto;
  margin: 10px;
  padding: 30px;
  border-radius: 36px; */
  width: 50%;
  min-width: 20rem;
  max-width: 80rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  /* background: #363636c0; */
  /* box-shadow: inset 5px 5px 10px #121212, inset -5px -5px 10px #121212c0; */
  background-color: #121212c0;
  color: #ffedc6;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  font-size: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  /* width: 90%; */
  gap: 2rem;
  justify-content: center;
}

.header img {
  /* width: 380px;
  height: 280px; */
  width: 45vw;
  margin-top: 1rem;
  height: auto;
  min-width: 20rem;
  /* display: flex;
  align-self: self-start;
  border-radius: 1rem;
  text-align:center;
  /* font-size: 14px;  */
  /* background: linear-gradient(145deg, #422b2b, #483232);
  box-shadow: inset 5px 5px 10px #121212, inset -5px -5px 10px #121212c0; */ 
}

.name {
  align-self: center;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  font-size: 120%;
  font-family: sans-serif;
  font-weight: bold;
  /* font-stretch: ultra-expanded; */
  align-items: center;
}

.title {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 200%;

}

.info {
  /* font-size: 80%; */
  margin: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.list {
  border: 5px solid black;
  background-color: black;
  padding: 4px;
  border-radius: 12px;
  font-size: 14px;
}

.released {
  /* font-size: 80%; */
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* font-size: 80%; */
  font-family: helvetica;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
}
