.container {
    /* background-image: url("../../../public/images/footer.png"); */
    /* background-size: cover; */
    background-color: black;
    width: 100vw;
    height: 80px;
    display: flex;  
    justify-content: flex-end;
    align-items: center;       
}

.link {
    font-size: 11px;
    margin-right: 60px;
    color: #FFEDC6;
}