.container {
  background-image: url("../../../public/images/form.png");
  background-size: cover;
  width: 100vw;
  font-size: 10px;
  /* text-align: center; */
  display: flex;
  /* display: grid;
  grid-template-columns: auto-fit auto-fit; */
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 40px;
  width: 60vw;
  border-radius: 14px;
  padding: 30px;
  background-color: #ffedc6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-items: stretch;
}

.title {
  font-size: 20px;
  text-align: center;
  /* color: #3d3014; */
  color: rgba(0, 0, 0, 0.364);
}

.input {
  padding: 5px;
  margin: 0 30px 0 30px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* align-items: stretch; */
}

.input label {
  /* width: 80px; */
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.718);
}

.input input {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 34px;
  padding-left: 10px;
}

.selection {
  /* background-color: rgba(255, 255, 255, 0.606); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 5px; */
}

.selection label { 
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.718);
}

.selection select {
  background-color: rgba(0, 0, 0, 0.15);
  width: 80%; 
  border-radius: 14px;
  padding: 10px;  
}

.selection input {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection button{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.592);
  width: 140px;
  height: 28px;
  margin: 10px;
}

.error {
  background-color: brown;
}

.btn {
  width: 40%;
  height: 40px;
  margin-bottom: 50px;
  font-size: 11px;
  align-self: center;
  border-radius: 17px;
  border: none;
  background: linear-gradient(145deg, #ff4947, #e63d3b);
  box-shadow: 0px 0px 2px #78201f, -1px -1px 4px #301313;
  transition: ease-out 0.5s;
  cursor: pointer;
  color: #ffedc6;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
}

.btn:hover {
  border-radius: 17px;
  background: linear-gradient(315deg, #352929, #111111);
   color: #ffedc6;
  font-style: bold;
}

