.selectors {
    color: rgb(43, 226, 156);
    display: flex;
    flex-direction: column;
    /* width: 15vw; */
  }
  
  .bars {
    /* min-width: 100px;
    max-width: 180px; */
    
    /* width: minmax(100px, 140px); */
    width: 180px;
    height: 44px;
    padding: 2%;
    margin: 10px 2px 2px 2px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;    
    background: linear-gradient(145deg, #ff4947, #e63d3b);
    box-shadow: 5px 5px 10px #78201f, -5px -5px 10px #301313;
    transition: ease-out 0.5s;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-family: Helvetica;
  }
  
  .bars:hover {
    border-radius: 17px;
    background: linear-gradient(315deg, #352929, #111111);
    box-shadow: -5px -5px 10px #6d4544, 5px 5px 10px #ffdfde;
    color: #FFEDC6; 
    font-style: bold;
  }