.container {
  background-image: url("../../../public/images/home-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.body {
  width: 94vw;
  height: auto;
  display: grid;
  grid-template-columns: 12rem auto;
  justify-content: stretch;
}

.body Functions {
  width: 200px;
  padding-top: 20px;
}

.games {
  background-color: #ffedc63b;
  gap: 24 rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 16rem), 1fr));
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 740px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .games {
    grid-template-columns: auto auto;
  }
}
