.container {
  background-image: url("../../../public/images/home-background.jpg");
  background-size: cover;
  width: 100vw;
  display: grid;
  grid-template-columns: 4;
  align-items: center;
  display: grid;
  /* grid-template-rows: 10px auto; */
  /* grid-template-columns: 20px auto; */
  justify-content: center;
}

/* .pages { */
.container Pagination {
  /* background-color: greenyellow;  */
  width: 100vw;
  grid-column: 1/4;
  align-items: center;
  justify-content: center;
}

.body {
  /* background-color: blue; */
  width: 94vw;
  display: grid;
  grid-template-columns: 200px auto;
  /* margin: 0 40px 0 40px; */
  justify-content: stretch;
  /* padding-right: 30px;
  padding-left: 30px; */
  /* gap: 8px; */
  /* justify-content: space-evenly */
}

/* .selectors { */
.body Functions {
  /* background-color: rgba(255, 255, 0, 0.377); */
  width: 200px;
  padding-top: 20px;
  /* margin-left: 30px; */
  /* justify-self: center; */
}

.games {
  /* grid-column: 3/5; */
  background-color: #ffedc63b;
  /* background-color: rgba(0, 0, 255, 0.481); */
  /* padding: 20px; */
  gap: 1rem;
  /* padding: 3%; */
  /* width: auto; */
  display: grid;
  grid-auto-rows: 24rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  justify-content: center;
  align-items: center;
}

.gameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
