.container {
    /* margin: 3rem; */
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    align-items: center;
    justify-items: center;
    /* padding: 5rem; */
}

.games {
  /* display: flex;
  flex-direction: row; */
  max-width: 20rem;
  /* flex-wrap: wrap; */
}
