.container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  color: #ffedc6;
}

.box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 17rem), 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

@media only screen and(max-width: 400px) {
  .box {
    grid-template-columns: auto auto;
  }
}
