.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.image {
  background-image: url("../../../public/images/landing.png");
  background-size: cover;
  width: 100%;
  min-height: 16rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-style: oblique;
  color: #4ccbf199;
  font-size: 120%;
}

.image h3 {
  margin-top: 0rem;
}

.intro {
  margin: 0 5rem 0 5rem;
  font-size: 110%;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: monospace;
  text-align: justify;
}

.intro h3 {
  align-self: center;
}
.container button {
  color: white;
  width: 7rem;
  height: 1.8rem;
  border-radius: 0.3rem;
  background-color: rgba(67, 188, 239, 0.461);
  border: #efefef94 double 4px;
  font-family: monospace;
  font-size: 120%;
  font-style: italic;
}

.container button:hover {
  scale: calc(1.3);
}
