.container {
  background-image: url("../../../public/images/navbar11.jpg");
  background-size: cover;
  margin-top: 3px;
  width: 100vw;
  height: 15rem;
  display: grid;
  grid-template-columns: auto 70%;
  justify-content: space-evenly;
  align-items: center;
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
  font-family: Helvetica;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  background: none;
  color: rgb(234, 255, 47);
}

.navigate:hover {
  animation: a 0.5s 1 linear;
}
@keyframes a {
  0% {
    transform: scale(0.7, 1.3);
  }

  25% {
    transform: scale(1.3, 0.7);
  }

  50% {
    transform: scale(0.7, 1.3);
  }

  75% {
    transform: scale(1.3, 0.7);
  }

  100% {
    transform: scale(1, 1);
  }
}

.sections {
  color: #ffedc6;
  font-style: initial;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  width: 70%;
  height: 2.3rem;
  max-height: 2.3rem;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-color: #ffedc6;
  background-color: #f48e8e;
  text-align: left;
}

.btn {
  width: 80px;
  height: 2.8rem;
  max-height: 2.8rem;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  background: linear-gradient(315deg, #352929, #111111);
  color: #ffedc6;
  font-style: bold;
  cursor: pointer;
  font-size: 90%;
  font-family: Helvetica;
  text-align: center;
}

.btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  background: linear-gradient(145deg, #ff4947, #e63d3b);
  color: black;
}

@media only screen and (max-width: 400px) {
  .container {
    background-clip: content-box;
    background-repeat: no-repeat;
    height: 8rem;
    display: flex;
    flex-direction: column;
  }

  .links {
    display: flex;
    align-self: self-start;
  }

  .input {
    height: 1.8rem;
    max-height: 1.8rem;
  }
  
  .btn {
    height: 2.1rem;
    max-height: 2.1rem;
  }
}
