.container {
    background-image: url('./home-background.jpg');
    /* margin: 200px 0px; */
    background-size: contain;
 
}

.game{
    width: 100vw;
    height: 100vh;
    /* padding: 3%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}